[submodule "team3"]
	path = team3
	url = git@github.com:alecnmk/kievsub.git
[submodule "team5"]
	path = team5
	url = git@github.com:alecnmk/rubyshift_workshop.git
[submodule "team4"]
	path = team4
	url = git@github.com:alecnmk/cnc.git
[submodule "team6"]
	path = team6
	url = ./team6
